<h3>Posts index</h3>

<ul>
    {{#each model as |post|}}
      <li>
        {{#link-to 'post' post}}
          {{post.title}}
        {{/link-to}}
        <button {{action 'delete' post}}>Delete</button>
      </li>
    {{/each}}
</ul>
